.scene {
  position: relative;
  width: 400px;
  height: 400px;
  border: 2px dashed #ccc;
  margin: 50px;
}

/* сам квадрат */
.box {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 300px;

  background: red;

  animation: moveSquare 4s linear infinite;
}

/* KEYFRAMES */
@keyframes moveSquare {

  /* старт — ліво-низ */
  0% {
    transform: translate(0, 0);
    background-color: red;
  }

  /* вправо */
  25% {
    transform: translate(300px, 0);
    background-color: blue;
  }

  /* вгору */
  50% {
    transform: translate(300px, -300px);
    background-color: green;
  }

  /* вліво */
  75% {
    transform: translate(0, -300px);
    background-color: orange;
  }

  /* вниз (повернення) */
  100% {
    transform: translate(0, 0);
    background-color: red;
  }
}
